#aboutBtc {
    background-color: #fffff4;
    width: 100%;
    position: relative;
    padding: 150px var(--padd) 150px;
    .worldMap {
        position: absolute;
        top: 150px;
        right: 0;
        width: 80%;
        height: calc(100% - 300px);
    }
    .content {
        
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
        .headNum {
            p {
                font-size: var(--font-20);
                color: var(--tertiaryBlack);
                font-weight: 700;
                font-size: bold;
            }
            h2 {
                font-size: var(--font-46);
                font-weight: 400;
                color: var(--secondaryBlack);
                margin-top: var(--headingTop);
            }
        }
        .sliderAbout {
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 30px;
            .slides_about {
                background-color: #fff;
                border: 1px solid #d9d9d9;                
                padding: 30px;
                .tiles{
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    & > div:first-child {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .number {
                            font-size: calc(var(--font-46) * 1.5);
                            font-weight: 700;
                            color: var(--blue);
                        }
                        .tag{
                            font-size: var(--font-20);
                            color: var(--secondaryBlack);
                            background-color: #E4E4E4;
                            padding: 10px 20px;                        
                        }
                    }
                    & > div:last-child {
                        p{
                            font-size: var(--font-20);
                            color: var(--tertiaryBlack);
                            font-weight: 300;
                            span{
                                color: var(--secondaryBlack);
                            }
                        }
                    }
                }
            }
            .navigation_about{
                display: flex;
                gap: 15px;
                button{
                    padding: 15px;
                    height: var(--navBtn);
                    width: var(--navBtn);
                    background-color: #fff;
                    border: 1px solid #d9d9d9;
                    display: flex;                    
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 100%;
                        width: 100%;
                    }                    
                }
                .prev{
                    img{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .cta{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


#ourProducts{
    background-color: #fff;
    padding-bottom: 50px;
    .heading{        
        padding: 150px var(--padd) 50px;
    }
    .content{        
        overflow: hidden;
        .ourProducts{
            height:  calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
            overflow: unset;
            & > .swiper-wrapper{
                height:  calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
            }
            .items.swiper-slide-active{
                & > div{
                    height:  calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
                    p{
                        opacity: 1;
                    }
                }
                & > p{
                    opacity: 0;
                }
            }
            .items{
                & > div{
                    transition: all 0.3s ease;
                    position: relative;
                    width: 100%;
                    height: clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem);
                    & > img{
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;                        
                    }
                    .cta{
                        position: absolute;
                        right: 30px;
                        bottom: 30px;                                                
                    }
                    p{
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: var(--font-24);
                        transform: translateY(-50%);
                        opacity: 0;
                    }
                }
                & > p{
                    font-size: var(--font-24);
                    color: var(--secondaryBlack);
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-top: 20px;
                }
            }
            .btnss{
                position: absolute;
                right: 10%;
                bottom: 0%;                                
                z-index: 9;
                display: flex;                
                flex-direction: row-reverse;
                gap: 15px;
                .swiper-button-prev{
                    img{
                        transform: rotate(180deg);
                    }
                }
                .swiper-button-disabled{
                    background-color: #E4E4E4;
                    opacity: 1;                    
                    img{
                        opacity: 0.4;
                    }
                }

                button{
                    padding: 15px;
                    height: var(--navBtn);
                    width: var(--navBtn);
                    border: 0;
                    background-color: var(--green);
                    display: flex;                    
                    align-items: center;
                    justify-content: center;
                    position: unset;
                    &:after, &:before{
                        display: none ;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}



#sustainabiltyStandard{
    background-color: #fffff4;
    display: grid;
    grid-template-columns: 47% 48%;
    gap: 5%;
    padding: 150px var(--padd) 150px;
    align-items: center;
    position: relative;
    .back_svg{
        position: absolute;
        height: 100%;
    }
    .leftContent{
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
    }
     .accordian{
        position: relative;
        .faq{
            border-bottom: 1px solid grey;
            padding: max(20px, 4%) 0;
            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                
                .open{
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: block;
                    transform: translateY(-3px);
                    transition: all 0.3s;
                }
                p{
                    font-size: var(--font-24);
                    color: var(--text-color);
                    font-weight: 300;
                }
            }
            .ans{
                padding-right: 30px;
                display: none;
                p, li{
                    color: var(--tertiaryBlack);
                    font-size: var(--font-20);                    
                    padding-top: 3%;
                    font-weight: 300;
                    span{
                        color: var(--secondaryBlack);
                    }
                }
                ul, ol{
                    padding-left: 1.2rem;
                }
            }
        }
        .faq.default-open{            
            .head{
                .open{                    
                    transform: rotateX(180deg);
                }
                
            }
        }
    }
}
