body {
  background-color: #fffff4;
}
:root {
  --heading: clamp(2.25rem, 1.875rem + 1.875vw, 4.125rem);
}
#event {
  padding: var(--paddingX);
  background-color: #ffffff;
  .heading {
    h2 {
      font-size: var(--heading);
      span {
        color: var(--blue);
      }
    }
  }
}




