body {
  background-color: #fffff4;
}

.heroBanner img {
  -o-object-position: center top;
     object-position: center top;
}

#product_page_details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--padd);
  gap: clamp(3.25rem, -55.4597rem + 72.2581vw, 31.25rem);
}
#product_page_details > img {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
  transform: translate(0%, -25%);
}
#product_page_details h2 {
  font-size: var(--font-46);
  line-height: 1.5;
  font-weight: 300;
}
#product_page_details h2 span {
  font-weight: 500;
  color: var(--blue);
}
#product_page_details .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}
#product_page_details .description p {
  font-size: var(--font-20);
  line-height: 1.5;
}

#product_category .heading {
  padding: 0 var(--padd);
}
#product_category .category_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 40px;
  position: relative;
}
#product_category .category_container .category_card {
  position: relative;
  aspect-ratio: 1;
}
#product_category .category_container .category_card h2 {
  position: absolute;
  color: white;
  font-size: 50px;
  right: 40px;
  top: 40px;
}
#product_category .category_container .category_card video {
  width: 100%;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#category_listing {
  padding: var(--padd);
  background-color: #fff;
}
#category_listing .category_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(3.125rem, -0.8065rem + 4.8387vw, 5rem);
  margin-top: 40px;
}
#category_listing .category_list .category_list_card .category_list_card_img {
  display: block;
  aspect-ratio: 526/450;
  overflow: hidden;
  position: relative;
}
#category_listing .category_list .category_list_card .category_list_card_img img {
  width: 100%;
}
#category_listing .category_list .category_list_card .category_list_card_img p {
  white-space: nowrap;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#category_listing .category_list .category_list_card .category_list_card_detail {
  margin-top: 20px;
}
#category_listing .category_list .category_list_card .category_list_card_detail .category_list_card_title {
  text-decoration: none;
  font-size: var(--font-46);
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 400;
  color: #594ec2;
}
#category_listing .category_list .category_list_card .category_list_card_detail .category_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin-top: 20px;
}
#category_listing .category_list .category_list_card .category_list_card_detail .category_tags p {
  font-size: var(--font-18);
  line-height: 1.5;
  background-color: #b5c0ee;
  color: var(--secondaryBlack);
  padding: 8px 20px;
  font-weight: 300;
}
#category_listing .category_list .category_list_card:nth-child(2) .category_list_card_title {
  color: #ddbb91;
}
#category_listing .category_list .category_list_card:nth-child(2) .category_tags p {
  background-color: #ddbb91;
}
#category_listing .category_list .category_list_card:nth-child(3) .category_list_card_title {
  color: #63c7ff;
}
#category_listing .category_list .category_list_card:nth-child(3) .category_tags p {
  background-color: #afd7ff;
}
#category_listing .category_list .category_list_card:nth-child(4) .category_list_card_title {
  color: #553f2f;
}
#category_listing .category_list .category_list_card:nth-child(4) .category_tags p {
  color: #fff;
  background-color: #ce9e78;
}
#category_listing .category_list .category_list_card:nth-child(5) .category_list_card_title {
  color: #8e5947;
}
#category_listing .category_list .category_list_card:nth-child(5) .category_tags p {
  color: #fff;
  background-color: #8e5947;
}
#category_listing .category_list .category_list_card:nth-child(6) .category_list_card_title {
  color: #00c9d9;
}
#category_listing .category_list .category_list_card:nth-child(6) .category_tags p {
  color: #fff;
  background-color: #26a3ad;
}

#custom_product {
  padding: 8% var(--padd);
  position: relative;
  height: 100vh;
  max-height: 1080px;
}
#custom_product .custom_product_detail_head {
  text-align: center;
}
#custom_product video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
}
#custom_product::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6588235294) 0%, rgba(0, 0, 0, 0.6588235294) 100%);
  pointer-events: none;
}
#custom_product .custom_product_detail {
  position: relative;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#custom_product .custom_product_detail h2 {
  font-size: var(--font-46);
  color: #fff;
  font-weight: 400;
}
#custom_product .custom_product_detail p {
  font-size: var(--font-24);
  line-height: 1.5;
  margin: 30px 0px;
  max-width: 850px;
  text-align: center;
}
#custom_product .custom_product_detail .custom_product_detail_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  width: 100%;
  gap: 40px;
  margin: 30px 0px;
}
#custom_product .custom_product_detail .custom_product_detail_list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
#custom_product .custom_product_detail .custom_product_detail_list > div p {
  font-size: var(--font-20);
  line-height: 1.5;
  margin: 30px;
  max-width: 800px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

#customization {
  position: relative;
  padding: var(--padd);
  background-color: #fff;
  overflow: hidden;
}
#customization > img {
  width: 100%;
  position: absolute;
  transform: rotate(270deg) translate(10%, -10%);
  inset: 0;
  z-index: 0;
}
#customization .heading {
  position: relative;
}
#customization .customization_container {
  position: relative;
}
#customization .customization_container .customization_buttons {
  display: flex;
  margin: 40px 0px;
  gap: 20px;
  flex-wrap: wrap;
}
#customization .customization_container .customization_buttons .active {
  background-color: var(--green);
}
#customization .customization_container .customization_buttons .unactive {
  background-color: #e4e4e4;
  color: #b6b6b6;
}
#customization .customization_container .customization_text {
  font-size: var(--font-24);
  line-height: 1.5;
  margin: 20px 0px;
  color: var(--secondaryBlack);
  font-weight: 300;
  max-width: 600px;
  display: none;
}
#customization .customization_container .customization_text.active {
  display: block;
}
#customization .customization_container .customization_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px 0px;
  display: none;
}
#customization .customization_container .customization_cards.active {
  display: grid;
}
#customization .customization_container .customization_cards .customization_card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
#customization .customization_container .customization_cards .customization_card > img {
  padding: 40px;
  width: clamp(18.75rem, 10.3365rem + 9.6154vw, 21.875rem);
  transform: rotate(-15deg);
}
#customization .customization_container .customization_cards .customization_card p {
  max-width: 400px;
  font-size: var(--font-20);
  line-height: 1.5;
  margin: 20px 0px;
  color: var(--secondaryBlack);
  font-weight: 300;
  text-align: left;
}
#customization .customization_container .customization_cards .customization_card p strong {
  font-weight: 800;
}

@media screen and (max-width: 1024px) {
  #product_page_details {
    grid-template-columns: 1fr;
  }
  #product_page_details .description {
    align-items: flex-start;
  }
  #customization .customization_container .customization_buttons {
    gap: 10px;
  }
  #customization .customization_container .customization_buttons .cta {
    padding: 10px;
  }
  #customization .customization_container .customization_cards {
    grid-template-columns: 1fr;
  }
  #customization .customization_container .customization_cards .customization_card {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  #product_category {
    margin-top: 40px;
  }
  #product_category .category_container {
    grid-template-columns: 1fr;
  }
  #product_category .category_container .category_card h2 {
    font-size: 30px;
    right: 20px;
    top: 20px;
  }
  #category_listing .category_list {
    grid-template-columns: 1fr;
  }
  #custom_product {
    height: auto;
    max-height: none;
  }
  #custom_product .custom_product_detail {
    margin: 40px 0px;
  }
  #custom_product .custom_product_detail p {
    font-size: var(--font-20);
  }
  #custom_product .custom_product_detail .custom_product_detail_list {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    margin: 50px 0px;
  }
  #custom_product .custom_product_detail .cta {
    padding: 15px;
  }
}/*# sourceMappingURL=style.css.map */