body {
  background-color: #fffff4;
}

#about_btc {
  padding: var(--paddingX) 0px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  & > img:first-child {
    position: absolute;
    inset: 0;
    width: 85%;
    z-index: -1;
    transform: translate(54%, -45%) rotate(-70deg);
  }
  & > img:nth-child(2) {
    position: absolute;
    inset: 0;
    width: 60%;
    z-index: -1;
    transform: translate(-47%, 67%) rotate(144deg);
  }
  .about_btc_head {
    padding: 0px var(--paddingX);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading {
      h2 {
        color: var(--secondaryBlack);
      }
    }
  }
  .about_btc_button_container {
    padding: 40px var(--paddingX);
    display: flex;
    justify-content: flex-end;
  }
  .about_btc_buttons {
    display: flex;
    gap: 15px;
    button {
      padding: 15px;
      height: var(--navBtn);
      width: var(--navBtn);
      background-color: #d4ff32;
      border: 0px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        width: 100%;
        opacity: 1;
      }
    }
    button.swiper-button-disabled {
      background-color: #e4e4e4;
      img {
        opacity: 0.4;
      }
    }
    .about_btc-prev {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .about_btc_container {
    margin-top: 40px;

    .about_btc {
      .category_item {
        padding: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
        // border: 1px solid;
        background-color: #ffffff;
        .category_image {
          width: 100%;
          aspect-ratio: 526/450;
          position: relative;
          overflow: hidden;
          display: block;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
          }
          p {
            white-space: nowrap;
            position: absolute;
            bottom: 30px;
            right: 30px;
          }
        }
        .category_description {
          margin: 40px 20px;
          margin-bottom: 0;
          text-decoration: none;
          font-size: var(--font-20);
          line-height: 1.5;
          font-weight: 300;
          color: var(--tertiaryBlack);
          display: block;
        }
      }
    }
  }
}

#vision_mission {
  padding: var(--paddingX);
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;
  align-items: center;
}

.vision_mission_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.vision_mission_container:first-child {
  grid-area: 1 / 2 / 2 / 3;
}

.vision_mission_container h2 {
  font-size: var(--font-46);
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondaryBlack);
  margin-bottom: 20px;
}

.vision_mission_container p {
  font-size: var(--font-20);
  line-height: 1.5;
  color: var(--tertiaryBlack);
  font-weight: 300;
}

.vision_mission_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.swiper {
  width: 100%;
  height: 100%;
}

#our_leadership {
  padding: var(--paddingX);
  // padding-bottom: 0;
  background: linear-gradient(180deg, #2f2874 0%, #201a5b 100%);

  overflow: hidden;
  position: relative;
  & > img {
    width: 100%;
    position: absolute;
    transform: rotate(180deg) translate(10%, -10%);
    inset: 0;
    z-index: 0;
    opacity: 0.01;
    top: -20%;
    left: 10%;
  }
  .heading {
    position: relative;
    h2 {
      color: #ffffff;
    }
    p {
      color: #ffffff99;
    }
  }
  .our_leadership_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
    position: relative;
    .leader_card {
      position: relative;
      overflow: hidden;
      display: block;
      .leader_image {
        position: relative;
        width: 100%;
        aspect-ratio: 345 / 295;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          inset: 0;
        }
      }
      .leader_detail {
        margin-top: 20px;
        padding-right: 40px;
        .leader_title {
          color: var(--green);
          font-size: var(--font-24);
          line-height: 1.5;
          font-weight: 700;
        }
        .leader_description {
          color: #fff;
          font-size: var(--font-18);
          line-height: 1.5;
          margin: 20px 0px;
          font-weight: 300;
        }
      }
    }
  }
}

#product_page_details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--paddingX);
  align-items: center;
  gap: clamp(1.25rem, -17.5rem + 25vw, 12.5rem);
  & > img {
    position: absolute;
    inset: 0;
    width: 64%;
    z-index: -1;
    transform: translate(-15%, -10%) rotate(200deg);
  }

  .shareholder_logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(1.875rem, -0.2679rem + 3.3482vw, 3.75rem);
    .logo {
      width: 200px;
      img {
        width: 100%;
      }
    }
  }
}

#arise_details {
  position: relative;
  padding: var(--paddingX);
  background-color: #fff;
  .heading {
    margin-bottom: 80px;
  }
  .arise_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(1.25rem, -17.5rem + 25vw, 12.5rem);
    .logo_container {
      img {
        width: 100%;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: 40px;
      p {
        font-size: var(--font-20);
        line-height: 1.5;
      }
    }
  }
}

#our_impact {
  padding: var(--paddingX);
  .our_impact_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 40px 0px;
    .impact_wrapper {
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      height: 100px;
      transition: height 1s ease;

      &.open {
        height: 300px;
      }
      .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
          77.63deg,
          #000000b9 0%,
          rgba(0, 0, 0, 0.1) 100%
        );
        z-index: 0;
      }
      .impact_wrapper_head {
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        h2 {
          color: #fff;
          font-size: var(--font-46);
          line-height: 1.5;
          font-weight: 700;
        }
        .open-btn {
          padding: 10px;
          height: var(--navBtn);
          width: var(--navBtn);
          // background-color: #d4ff32;
          border: 0px solid #d9d9d9;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            transform: rotate(90deg);
          }
        }
      }
      .content {
        display: none;
        position: relative;
        z-index: 1;
        color: #fff;
        padding: 40px;
        &.show {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    .bg-partners {
      background-image: url("../assets/partners.jpg");
    }

    .bg-people {
      background-image: url("../assets/people.jpg");
    }

    .bg-planet {
      background-image: url("../assets/planet.jpg");
    }
  }
}

#certificates_compliances{
  padding: var(--paddingX);
  background: linear-gradient(180deg, #2F2874 0%, #201A5B 100%);
  .heading{
    p{
      color: #FFFFFF99;
    }
    h2{
      color: #ffffff;
    }
  }
  .cc_container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
  margin-top: 40px;
  // padding: 20px 0;

  .certificate_card {
    display: grid;
    grid-template-columns: 160px auto;
    align-items: center;
    gap: 16px;
    padding: 16px 0px;
    padding-right: clamp(0rem, -1rem + 5vw, 5rem);
    // border: 1px solid #ddd;
    // border-radius: 8px;
    // background-color: #fff;
    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

    .certificate_logo {
      img {
        width: 100%;
        height: auto;
        max-width: 140px;
      }
    }

    .certificate_description {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .certificate_title {
        font-size: var(--font-20);
        font-weight: 400;
        margin: 0;
        color: var(--green);
      }

      p {
        margin: 0;
        font-size: var(--font-18);
        line-height: 1.5;
        color: #fff;
      }
    }
  }
}

}


@media screen and (max-width: 1200px) {
  #our_leadership {
    .our_leadership_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #certificates_compliances{
    .cc_container{
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 1024px) {
  #arise_details {
    .heading {
      margin-bottom: 20px;
    }
    .arise_container {
      .logo_container {
        img {
          width: 60%;
        }
      }
      grid-template-columns: 1fr;
      .description {
        align-items: flex-start;
      }
    }
  }
  #product_page_details {
    grid-template-columns: 1fr;
    .shareholder_logos {
      align-items: flex-start;
    }
  }
}
@media screen and (max-width: 768px) {
  #about_btc {
    .about_btc_buttons {
      display: none;
    }
  }
  #vision_mission {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .vision_mission_container {
    width: 100%;
  }
  #our_leadership {
    .our_leadership_container {
      grid-template-columns: 1fr;
    }
  }
   #certificates_compliances{
    .cc_container{
      .certificate_card{
        grid-template-columns: 1fr;
        .certificate_logo {
          img{
            max-width: 100px;
          }
        }
      }
    }
  }
}
