#aboutBtc {
  background-color: #fffff4;
  width: 100%;
  position: relative;
  padding: var(--paddingY) var(--paddingX) var(--paddingY);
}
#aboutBtc .worldMap {
  position: absolute;
  top: var(--paddingY);
  right: 0;
  width: 80%;
  height: calc(100% - 300px);
}
#aboutBtc .content {
  display: flex;
  flex-direction: column;
  gap: var(--spaceBelow_heading);
  position: relative;
}
#aboutBtc .content .headNum p {
  font-size: var(--font-20);
  color: var(--tertiaryBlack);
  font-weight: 700;
  font-size: bold;
}
#aboutBtc .content .headNum h2 {
  font-size: var(--font-46);
  font-weight: 400;
  color: var(--secondaryBlack);
  margin-top: var(--headingTop);
}
#aboutBtc .content .sliderAbout {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 30px;
}
#aboutBtc .content .sliderAbout .slides_about {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 30px;
}
#aboutBtc .content .sliderAbout .slides_about .tiles {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#aboutBtc .content .sliderAbout .slides_about .tiles > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#aboutBtc .content .sliderAbout .slides_about .tiles > div:first-child .number {
  font-size: calc(var(--font-46) * 1.5);
  font-weight: 700;
  color: var(--blue);
}
#aboutBtc .content .sliderAbout .slides_about .tiles > div:first-child .tag {
  font-size: var(--font-20);
  color: var(--secondaryBlack);
  background-color: #e4e4e4;
  padding: 10px 20px;
}
#aboutBtc .content .sliderAbout .slides_about .tiles > div:last-child p {
  font-size: var(--font-20);
  color: var(--tertiaryBlack);
  font-weight: 300;
}
#aboutBtc .content .sliderAbout .slides_about .tiles > div:last-child p span {
  color: var(--secondaryBlack);
}
#aboutBtc .content .sliderAbout .navigation_about {
  display: flex;
  gap: 15px;
}
#aboutBtc .content .sliderAbout .navigation_about button {
  padding: 15px;
  height: var(--navBtn);
  width: var(--navBtn);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutBtc .content .sliderAbout .navigation_about button img {
  height: 100%;
  width: 100%;
}
#aboutBtc .content .sliderAbout .navigation_about .prev img {
  transform: rotate(180deg);
}
#aboutBtc .cta {
  position: absolute;
  bottom: 0;
  right: 0;
}

#ourProducts {
  background-color: #fff;
  padding-bottom: 50px;
}
#ourProducts .heading {
  padding: var(--paddingY) var(--paddingX) var(--spaceBelow_heading);
}
#ourProducts .content {
  overflow: hidden;
}
#ourProducts .content .ourProducts {
  height: calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
  overflow: unset;
}
#ourProducts .content .ourProducts > .swiper-wrapper {
  height: calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
}
#ourProducts .content .ourProducts .items.swiper-slide-active > div {
  height: calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
}
#ourProducts .content .ourProducts .items.swiper-slide-active > div p {
  opacity: 1;
}
#ourProducts .content .ourProducts .items.swiper-slide-active > p {
  opacity: 0;
}
#ourProducts .content .ourProducts .items > div {
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  height: clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem);
}
#ourProducts .content .ourProducts .items > div > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ourProducts .content .ourProducts .items > div .cta {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
#ourProducts .content .ourProducts .items > div p {
  position: absolute;
  top: 50%;
  right: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--font-24);
  transform: translateY(-50%);
  opacity: 0;
}
#ourProducts .content .ourProducts .items > p {
  font-size: var(--font-24);
  color: var(--secondaryBlack);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
#ourProducts .content .ourProducts .btnss {
  position: absolute;
  right: 10%;
  bottom: 0%;
  z-index: 9;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
#ourProducts .content .ourProducts .btnss .swiper-button-prev img {
  transform: rotate(180deg);
}
#ourProducts .content .ourProducts .btnss .swiper-button-disabled {
  background-color: #e4e4e4;
  opacity: 1;
}
#ourProducts .content .ourProducts .btnss .swiper-button-disabled img {
  opacity: 0.4;
}
#ourProducts .content .ourProducts .btnss button {
  padding: 15px;
  height: var(--navBtn);
  width: var(--navBtn);
  border: 0;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
}
#ourProducts .content .ourProducts .btnss button:after, #ourProducts .content .ourProducts .btnss button:before {
  display: none;
}
#ourProducts .content .ourProducts .btnss button img {
  height: 100%;
  width: 100%;
}

#sustainabiltyStandard {
  background-color: #fffff4;
  display: grid;
  grid-template-columns: 47% 48%;
  gap: 5%;
  padding: var(--paddingY) var(--paddingX) var(--paddingY);
  align-items: center;
  position: relative;
}
#sustainabiltyStandard .back_svg {
  position: absolute;
  height: 100%;
}
#sustainabiltyStandard .leftContent {
  display: flex;
  flex-direction: column;
  gap: var(--spaceBelow_heading);
  position: relative;
}
#sustainabiltyStandard .accordian {
  position: relative;
}
#sustainabiltyStandard .accordian .faq {
  border-bottom: 1px solid grey;
  padding: max(20px, 4%) 0;
}
#sustainabiltyStandard .accordian .faq .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#sustainabiltyStandard .accordian .faq .head .open {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  transform: translateY(-3px);
  transition: all 0.3s;
}
#sustainabiltyStandard .accordian .faq .head p {
  font-size: var(--font-24);
  color: var(--text-color);
  font-weight: 300;
}
#sustainabiltyStandard .accordian .faq .ans {
  padding-right: 30px;
  display: none;
}
#sustainabiltyStandard .accordian .faq .ans p,
#sustainabiltyStandard .accordian .faq .ans li {
  color: var(--tertiaryBlack);
  font-size: var(--font-20);
  padding-top: 3%;
  font-weight: 300;
}
#sustainabiltyStandard .accordian .faq .ans p span,
#sustainabiltyStandard .accordian .faq .ans li span {
  color: var(--secondaryBlack);
}
#sustainabiltyStandard .accordian .faq .ans ul,
#sustainabiltyStandard .accordian .faq .ans ol {
  padding-left: 1.2rem;
}
#sustainabiltyStandard .accordian .faq.default-open .head .open {
  transform: rotateX(180deg);
}

#ourCapabilities {
  overflow: hidden;
  background: linear-gradient(180deg, #2f2874 0%, #201a5b 100%);
  position: relative;
}
#ourCapabilities .back {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
#ourCapabilities .leftContent {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: var(--paddingX);
  z-index: 2;
}
#ourCapabilities .leftContent p {
  color: var(--green);
  opacity: 0.6;
}
#ourCapabilities .leftContent h3 {
  color: #fff;
}
#ourCapabilities .rightContent {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: calc(var(--paddingX) / 1.5);
  z-index: 2;
  width: 350px;
}
#ourCapabilities .rightContent p {
  font-size: var(--font-20);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
#ourCapabilities .rightContent p span {
  color: #fff;
}
#ourCapabilities .rightContent button {
  margin-top: var(--font-24);
  white-space: pre;
}
#ourCapabilities .swiper-slide {
  position: initial;
  height: calc(100vh - (var(--paddingY) + var(--paddingY)));
  width: 80vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 80px;
  align-items: center;
}
#ourCapabilities .swiper-slide .empty {
  height: 100%;
  aspect-ratio: 3/4;
}
#ourCapabilities .swiper-slide .text {
  opacity: 0;
  transform: translateX(150px);
}
#ourCapabilities .swiper-slide .text h3 {
  font-size: var(--font-46);
  font-weight: 400;
  color: #fff;
}
#ourCapabilities .swiper-slide .text h3 span {
  color: var(--green);
}
#ourCapabilities .swiper-slide .text img {
  width: 100%;
  margin: 2% 0 5%;
}
#ourCapabilities .swiper-slide .text p {
  padding-right: 10vw;
  font-size: var(--font-20);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
#ourCapabilities .swiper-slide .text p span {
  color: #fff;
}
#ourCapabilities .btnssNew {
  position: absolute;
  right: var(--paddingX);
  bottom: var(--paddingY);
  z-index: 9;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  opacity: 0;
  transform: translate(150px, 0);
}
#ourCapabilities .btnssNew .swiper-button-prev img {
  transform: rotate(180deg);
}
#ourCapabilities .btnssNew .swiper-button-disabled {
  background-color: #e4e4e4;
  opacity: 1;
}
#ourCapabilities .btnssNew .swiper-button-disabled img {
  opacity: 0.4;
}
#ourCapabilities .btnssNew button {
  padding: 15px;
  height: var(--navBtn);
  width: var(--navBtn);
  border: 0;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
}
#ourCapabilities .btnssNew button:after, #ourCapabilities .btnssNew button:before {
  display: none;
}
#ourCapabilities .btnssNew button img {
  height: 100%;
  width: 100%;
}
#ourCapabilities .cap_container {
  position: relative;
  padding: var(--paddingY) var(--paddingX) var(--paddingY);
  height: 100vh;
  display: block;
}
#ourCapabilities .cap_container .spiralImage {
  position: absolute;
  height: calc(100vh - (var(--paddingY) + var(--paddingY)));
  width: auto;
  aspect-ratio: 3/4;
  left: 50%;
  top: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
}
#ourCapabilities .cap_container .spiralImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#our_social {
  overflow: hidden;
}

#linkedIn_video {
  overflow: hidden;
}
#linkedIn_video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */